body {
  /*font: 12px "Montserrat", sans-serif;*/
  font: 400 15px "Lato", sans-serif;
}
/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #76BFA0;
      padding-top: 2px;
      padding-bottom: 1px;
      border: 0;
      font-size: 12px;
      letter-spacing: 5px;
    }
  h3 {
    font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
      letter-spacing: 4px;
  }
  #myCarousel p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #303030;
    letter-spacing: 4px;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #d7d7d7;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      height: 100%;
      padding-top: 40px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
  .dropdown-menu {
    margin-top: 80px;
  }

  ul
  {list-style-type: none;}

textarea.form-control {
  width:300px;
  margin: auto;
}

.bg-grey {
      background-color: #d7d7d7;
      padding: 25px;
      border: 10px;
      width: 100%;
  }

  #social-buttons button {
    color: white;
  }
  #social-buttons {
    margin-top: 50px;
  }
  .btn-twitter {
    background-color: #00acee;
    border-color: #009ad5
  }
  .btn-facebook {
    background-color: #4868ac;
    border-color: #314776;
  }
  .btn-google {
    background-color: #b62f26;
    border-color: #b62f26;
  }
  #section1 {
    padding-top:5px;
    padding-bottom: 20px;
    height:200px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
  }
  #section1 h3 {
    text-align: center;
  }
  #video {
    padding-top: 50px;
    margin-top: 0px;
  }
  #section2 {
    padding-top:50px;
    padding-bottom: 50px;
    height:500px;
    }
  .green {
    font-family: 'Londrina Shadow', cursive;
    font-size: 40px;
    /*color: #76BFA0;*/
  }
  .col-md-4 {
    padding-bottom: 20px;
  }
.col-sm-4 h3 {
  text-align: center;
}
.col-sm-5 {
  text-align: left;
}
#comments {
  text-align: left;
}

.thumbnail {
  box-sizing: 20px;
  padding-bottom: 10px;

}

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}
